<!DOCTYPE html>
<html>
	<head>
	    <% include ./partials/header.ejs %>
	</head>
	<body>
		<div class="container">
			<div>
				<% for(var i=0; i<cities.length; i++) {%>
				<div class="chip">
				  <%= cities[i] %>
				  <span class="closebtn" onclick="removeCity('<%=cities[i]%>')">&times;</span>
				</div>
				<% } %>
			</div>
			<div>
				<input type="text" name="new-city" onkeydown="addCity(event, this)">
			</div>
			<div class="grid">
				<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Origen
						</th>
						<th class="text-center">
							Destino
						</th>
						<th class="text-center">
							Operador
						</th>
						<th class="text-center">
							Duración
						</th>
						<th class="text-center">
							Precio
						</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<permutations.length; i++) {%>
					<tr id='addr0'>
						<td>
							<%= permutations[i][0] %>
						</td>
						<td>
							<%= permutations[i][1] %>
						</td>
						<td>
						<input type="text" name='operator'  placeholder='Operador' class="form-control"/>
						</td>
						<td>
						<input type="text" name='duration' placeholder='Duración' class="form-control"/>
						</td>
						<td>
						<input type="text" name='price' placeholder='Precio' class="form-control"/>
						</td>
						</td>
						<td>
					</tr>
					<% }%>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
				<!-- <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2"></div>
					<div class="col-sm-3"></div>
					<div class="col-sm-2"></div>
					<div class="col-sm-2"></div>
					<div class="col-sm-1"></div>
				</div>	 -->
			</div>
		</div>
	</body>
</html>